/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Enable these styles if you wish to go into a grid layout.
ul#images li {
    width: 120px;
    height: auto;
    display: inline-block;
    position: relative;
    float: left;
}

ul#images li img {
    display: inline-block;
    width: 100%;
    height: auto;
}

ul#images li button {
    display: inline-block;
}

--- End of grid layout styles. */


/*flex box styling for photo grid*/

.flex-container {
  display: flex;
  flex-flow: row wrap;
  margin: auto;
  text-align: center;
  max-width: 700px;
  justify-content: center;
}

.flex-item {
  width: 150px;
  height: 150px;
  margin: 5px;

}

.flex-item:hover {
  width: 150px;
  height: 150px;
  box-shadow: 3px 3px 5px #5B5B5B;
  margin: 2px 8px 8px 2px;
}

/*end flexbox styling*/


/*loading animation style*/

div.ball-grid-pulse {
  margin: 200px auto;
}
div.ball-grid-pulse > div {
  background: #ccc;
}

/*end loading animation style*/

#images p {
    font-size: 2em;
    font-weight: lighter;
    color: #666;
    width: 100%;
    margin: 2em;
}

.modal-body img {
    width: 100%;
    height: auto;
}

hr {
    clear:both;
}
