/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Enable these styles if you wish to go into a grid layout.
ul#images li {
    width: 120px;
    height: auto;
    display: inline-block;
    position: relative;
    float: left;
}

ul#images li img {
    display: inline-block;
    width: 100%;
    height: auto;
}

ul#images li button {
    display: inline-block;
}

--- End of grid layout styles. */


/*flex box styling for photo grid*/

div.grid {
  margin: auto;
  /*text-align: center;*/
  width: 80%;

}

#images {
  height: 100%;
}

.grid-item {
  /*max-width: 33.33%;
  float: left;*/
  padding: 0;
}

.grid-item:hover {
  cursor: pointer;
  /*width: 105%;*/
}
.grid-item > img {
  /*display: block;*/
  max-width: 100%;

}

.grid:after {
  content: '';
  display: block;
  clear: both;
}

/*end flexbox styling*/

/*button styling*/
.flex-btn {
  flex: 1 auto;
  margin: 20px 34px;
}

/*loading animation style*/

div.ball-grid-pulse {
  margin: 200px auto;
}
div.ball-grid-pulse > div {
  background: #ccc;
}

/*end loading animation style*/

#images p {
    font-size: 2em;
    font-weight: lighter;
    color: #666;
    width: 100%;
    margin: 2em;
}

.modal-body img {
    width: 100%;
    height: auto;
}

hr {
    clear:both;
}
